<body class="body">
  <app-header></app-header>

  <div class="container_perfil">
    <img ngSrc="assets/perfil.png" alt="foto del perfil" height="859" width="824" class="perfil">
    <p class="perfil_text">{{ messages?.introduction }}</p>

    <div class="container_links">
      <a href="https://www.linkedin.com/in/antonio-s%C3%A1nchez-ram%C3%ADrez-2b46832ab/" class="a_link" target="_blank"><img ngSrc="assets/linkedin.svg" alt="enlace linkedin" height="32" width="32" class="perfil_link"></a>
      <a href="https://github.com/Acnolend" class="a_link" target="_blank"><img ngSrc="assets/github.svg" alt="enlace github" height="32" width="32" class="perfil_link"></a>
    </div>

    <a href="assets/CurriculumActual.pdf" download="CurriculumActual.pdf" class="a_curriculum">{{ messages?.curriculum }}</a>

  </div>

  <p class="introduction_projects">{{ messages?.myprojects }}</p>

  <app-projects></app-projects>

  <app-footer></app-footer>
</body>


