.body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  background-image: url("https://art.ngfiles.com/images/2244000/2244335_sovanjedi_lagiacrus.gif?f1639792866");
  background-size: cover;
  background-position: center;
}

.container_perfil {
  width: 100%;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, .5);
}

.perfil {
  margin-top: 1%;
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

.perfil_text {
  margin: 20px 0;
  display: block;
  color: white;
  font-size: 20px;
  text-align: center;
}

.container_links {
  display: flex;
}

.a_link {
  margin-left: 10px;
  margin-right: 10px;
  transition: 0.5s;
}

.a_link:hover {
  transform:scale(1.20);
  transition: 0.5s;
}

.perfil_link {
  filter: invert(100%);
}

.a_curriculum {
  color: white;
  text-decoration: none;
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 20px;
  transition: 0.5s;
}

.a_curriculum:hover {
  transform:scale(1.25);
  transition: 0.5s;
}

.introduction_projects {
  margin-top: 2%;
  text-align: center;
  color: white;
  font-size: 80px;
}

